:root {
    /* Color Theme Swatches in Hex */
    --border-color: #807770;
    --button-color: #ffc494;
    --background-color: #ffeee0;
    --hover-color: #80624a;
    --button-hover-color: #80624a;
    --gray: #ccbfb4;
    --word-color: black;
    --word-color2: black;
    --opensans: "Open Sans", sans-serif;
}

/* Dark theme */
:root.dark-mode {
    --border-color: #ffeee0;
    --button-color: #ffc494;
    --background-color: #121212;
    --hover-color: #ffc494;
    --button-hover-color: #80624a;
    --gray: #ccbfb4;
    --word-color: rgb(160, 160, 160);
    --word-color2: #ffc494;
    --opensans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 1.5vw;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0.5rem 4rem 0 4rem;
}

a {
    text-decoration: none;
    color: var(--word-color);
}

h1,
h2,
h3 {
    margin: 0;
    font-family: var(--opensans);
    color: var(--word-color);
}

.page_heading {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--opensans);
    color: var(--word-color2);
    margin-bottom: 1rem;
    grid-column: 1/2;
}

p {
    font-family: var(--opensans);
    font-size: 0.9rem;
    margin: 0;
    color: var(--word-color);
}

.body {
    margin-top: 2.5rem;
}

@media (min-width: 1500px) {
    .background {
        width: 1300px;
        margin: 0 auto;
    }

    html {
        font-size: 25px;
    }
}

@media (max-width: 1500px) {
    .background {
        width: 1100px;
        margin: 0 auto;
    }
    html {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    body {
        padding: 0.5rem 2rem 0 2rem;
    }

    html {
        font-size: 2vw;
    }
}

@media (max-width: 600px) {
    .introduction_box {
        grid-template-columns: 1fr;
        margin-top: 1rem;
    }
    .profile_pic {
        margin: 0 auto;
    }
    .profile_box {
        margin-bottom: 2rem;
    }
    .introduction {
        grid-row: 3/4;
    }
    .greeting {
        grid-row: 2/3;
    }

    body {
        padding: 0.5rem 1rem 0 1rem;
    }

    html {
        font-size: 4vw;
    }
}

@media (max-width: 300px) {
    body {
        padding: 0.5rem 0.5rem 0 0.5rem;
    }
}
