.back {
    font-weight: 100;
    font-size: 1rem;
    margin: 1rem 0;
    text-decoration: underline;
    color: var(--word-color2);
}

.back.end_back {
    margin: 2rem;
    display: flex;
    flex-direction: row-reverse;
}

.back:hover {
    color: var(--border-color);
}

.article_title {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1rem 0 0 0 0;
}

.date,
.reading_time {
    font-weight: normal;
    font-size: 0.8rem;
}

.content p {
    margin: 1rem 0;
}

math {
    color: var(--word-color);
}
