.article-box {
    border: var(--border-color) solid 2px;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem 0;
}

.article-box:hover {
    text-decoration: underline;
}

.article-title {
    margin-bottom: 0.5rem;
}

.article-preview {
    font-size: 0.9rem;
}

.article-box-head {
    display: flex;
}
.date-and-read-time {
    margin-left: auto;
}
