.profile_pic {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover; /* Ensures the image covers the area without stretching */
    overflow: hidden;
    margin: 0 0 0 auto;
}

.profile_box {
    display: flex;
}

ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

li p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.home_project_title {
    text-decoration: underline;
}

.home_project_title:hover {
    color: var(--hover-color);
    /* text-decoration: underline; */
}

.icons {
    font-size: 2rem;
    margin: 6rem auto 0 auto;
    display: flex;
    justify-content: end;
}

.icons,
i:hover {
    color: var(--hover-color);
}

.hi {
    color: var(--hover-color);
    animation: color-cycle 8s infinite;
    /* filter:brightness(80%); */
}

.hi:hover {
    color: var(--button-color);
    animation: none;
}

@keyframes color-cycle {
    0% {
        color: var(--hover-color);
    }
    33% {
        color: var(--button-color);
    }
    80% {
        color: var(--border-color);
    }
    100% {
        color: var(--hover-color);
    }
}

.view_all {
    font-family: var(--opensans);
    font-size: 0.8rem;
    margin: 0 auto;
    background-color: var(--button-color);
    border-radius: 5px;
    padding: 0.1rem 0.3rem;
    color: black;
}

.view_all:hover {
    background-color: var(--button-hover-color);
}

.introduction_box {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-top: 1rem;
}

.introduction {
    margin: 0;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}

.projects {
    margin-top: 1rem;
    font-size: 1rem;
}
