.profile_pic {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    object-fit: cover; /* Ensures the image covers the area without stretching */
    overflow: hidden;
    margin: 0 0 0 auto;
}

.profile_box {
    display: flex;
}

ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

li p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.home_project_title {
    text-decoration: underline;
}

.home_project_title:hover {
    color: var(--hover-color);
    /* text-decoration: underline; */
}

.icons {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 2rem;
    margin: 6rem 1rem 0 auto;
    display: flex;
    justify-content: end;
}

.icons,
i:hover {
    color: var(--hover-color);
}

.hi {
    color: var(--hover-color);
    animation: color-cycle 8s infinite;
    /* filter:brightness(80%); */
}

.hi:hover {
    color: var(--button-color);
    animation: none;
}

@keyframes color-cycle {
    0% {
        color: var(--hover-color);
    }
    33% {
        color: var(--button-color);
    }
    80% {
        color: var(--border-color);
    }
    100% {
        color: var(--hover-color);
    }
}

.view_all {
    font-family: var(--opensans);
    font-size: 0.8rem;
    margin: 0 auto;
    background-color: var(--button-color);
    border-radius: 5px;
    padding: 0.1rem 0.3rem;
    color: black;
}

.view_all:hover {
    background-color: var(--button-hover-color);
}

/* .introduction_box {
} */

.introduction {
    margin: 0;
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
}

.projects {
    margin-top: 1rem;
    font-size: 1rem;
}

.home_content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1.2fr 1fr;
    margin-top: 1rem;
}

@media (max-width: 600px) {
    .home_content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 0.5fr;
    }
    .introduction {
        /* grid-column: 1/2; */
        grid-row: 2/3;
        margin: 0 auto;
    }
    .icons {
        grid-column: 1/2;
        grid-row: 3/4;
        margin: 0 auto;
    }
    .profile_box {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}
